<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Hotelero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<div class="container">

    <!-- Contenido principal -->
    <main class="main">

        <h1>PANEL DE CONTROL HOTELERO</h1>

        <div class="cards">

            <!-- Habitaciones -->
            <div class="card">
                <h3>Habitaciones</h3>
                <label> Disponibles <strong>{{ hab }}</strong></label>
                <label> Ocupadas  <strong>{{ ocup }}</strong></label>
                <label> Reservadas  <strong>{{ reser }}</strong></label>
            </div>

            <!-- Inventario -->
            <div class="card">
                <h3>Inventario</h3>
                <label> Toallas</label>
                <label> Sábanas</label>
                <label> Amenidades</label>
            </div>

            <!-- Finanzas -->
            <div class="card">
                <h3>Finanzas</h3>
                <div class="grafico">aqui va el grafico que generemos</div>
            </div>

        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Fecha de entrada</th>
                    <th>Fecha de salida</th>
                    <th>Huespedes</th>
                    <th>Habitacion</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in lista_reservas %}
                    <tr>
                        {% for dato in reserva %}
                        <td>{{ dato }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        

    </main>

</div>

</body>
</html>