<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Paradise</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/favicon.png') }}"> <!--este el el icono que va en la parte de las pestaña -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> <!--esta linea es para llamar a el css correspodiente-->
        
   
</head>
<body>
    <div class="login">
        <div class="form-container">
            <form class="form" onsubmit="loginUser(event)">
                <label for="email" class="label">Usuario:</label>
                <input type="text" id="user-adress" placeholder="Ejemplo" class="input-password">
                <label for="new-password" class="label">Contraseña:</label>
                <input type="password" id="password" placeholder="**********" class="input-password">
                <button action="/" class="primary-button">              
                    Ingresar 
                </button>
                <p class="resend">
                   <!--<a href="/">Olvide mi contraseña</a>-->
                </p>
            </form>
            <!--<button action="/" class="secundary-button">              
                Registrarme
            </button>-->
            <script>
                function loginUser(e){
                    e.preventDefault();

                    let user = document.getElementById("user-adress").value;
                    let password = document.getElementById("password").value;

                    if(user === "admin1" && password === "123456"){
                        window.location.href = "{{ url_for('admin') }}"
                    } else{
                        alert("Usuario o contraseña incorrectos");
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>